<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title></title>
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport">
    <link rel="stylesheet" href="https://unpkg.com/element-ui@1.3.7/lib/theme-default/index.css">
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <h1 class="title">后台管理系统前端代码生成工具</h1>
    <div id="app" v-cloak>
        <el-form ref="form" label-width="80px" :rules="rules" :model="form">
            <el-card class="box-card">
                <div slot="header" class="clearfix">
                    <span>通用设置</span>
                </div>
                <el-form-item label="页面Key" prop="pageKey">
                    <el-input v-model="form.pageKey" placeholder="用该值获得 ajax 地址"></el-input>
                    <el-checkbox v-model="form.isPageAndLimitSame">页面Key和权限Key一致</el-checkbox>
                </el-form-item>
                <el-form-item label="权限Key" v-if="!form.isPageAndLimitSame" prop="limitKey" required>
                    <el-input v-model="form.limitKey" placeholder="用该值控制数据权限"></el-input>
                </el-form-item>
            </el-card>
            <el-tabs v-model="currType">
                <el-tab-pane label="列表页" name="list">
                    <el-form-item label="页面前缀" required prop="pagePathPrfix">
                        <el-input v-model="form.pagePathPrfix" placeholder="新增，编辑，详情页的前缀，如: music/song"></el-input>
                    </el-form-item>
                    <el-card class="box-card">
                        <div slot="header" class="clearfix">
                            <span>搜索条件</span>
                            <el-button style="float: right; padding: 3px 0" type="text" type="success" @click="search.isDialogVisible = true">添加</el-button>
                        </div>
                        <el-row style="margin-bottom: 10px;">
                            <el-col :span="24">
                                快速添加：
                                <el-button type="success" v-for="item in itemTemplates" @click="addTo('search', item)">{{item.label}}</el-button>
                            </el-col>
                        </el-row>
                        <el-table :data="search.content" border stripe>
                            <el-table-column type="index" label="序列" align="center" width="80">
                            </el-table-column>
                            <el-table-column prop="label" label="搜索名">
                                <template scope="scope">
                                    <el-input v-model="scope.row.label"></el-input>
                                </template>
                            </el-table-column>
                            <el-table-column prop="key" label="搜索键">
                                <template scope="scope">
                                    <el-input v-model="scope.row.key"></el-input>
                                </template>
                            </el-table-column>
                            <el-table-column prop="op" label="操作">
                                <template scope="scope">
                                    <el-button type="primary" size="small" @click="cloneTo('list', scope.row)">复制到列表</el-button>
                                    <el-button type="danger" size="small" @click="search.content.splice(scope.$index, 1)">删除</el-button>
                                </template>
                            </el-table-column>
                        </el-table>
                    </el-card>
                    <el-card class="box-card">
                        <div slot="header" class="clearfix">
                            <span>列表内容</span>
                            <el-button style="float: right; padding: 3px 0" type="text" type="success" @click="list.isDialogVisible = true">添加</el-button>
                        </div>
                        <el-row style="margin-bottom: 10px;">
                            <el-col :span="24">
                                快速添加：
                                <el-button type="success" v-for="item in itemTemplates" @click="addTo('list', item)">{{item.label}}</el-button>
                            </el-col>
                        </el-row>
                        <el-table :data="list.content" border stripe>
                            <el-table-column type="index" label="序列" align="center" width="80">
                            </el-table-column>
                            <el-table-column prop="label" label="列名">
                                <template scope="scope">
                                    <el-input v-model="scope.row.label"></el-input>
                                </template>
                            </el-table-column>
                            <el-table-column prop="key" label="列键">
                                <template scope="scope">
                                    <el-input v-model="scope.row.key"></el-input>
                                </template>
                            </el-table-column>
                            <el-table-column prop="op" label="自定义格式">
                                <template scope="scope">
                                    <el-checkbox v-model="scope.row.isCustomer"></el-checkbox>
                                </template>
                            </el-table-column>
                            <el-table-column prop="op" label="操作">
                                <template scope="scope">
                                     <el-button type="primary" size="small" @click="cloneTo('search', scope.row)">复制到搜索条件</el-button>
                                    <el-button type="danger" size="small" @click="list.content.splice(scope.$index, 1)">删除</el-button>
                                </template>

                            </el-table-column>
                        </el-table>
                    </el-card>
                </el-tab-pane>
                <el-tab-pane label="新增，编辑，详情页" name="update">
                   <el-card class="box-card">
                        <div slot="header" class="clearfix">
                            <span>新增，编辑，详情内容</span>
                            <el-button style="float: right; padding: 3px 0" type="text" type="success" @click="detail.isDialogVisible = true">添加</el-button>
                        </div>
                        <div class="clearfix">
                            <el-button type="primary" @click="syncList()" style="float: right;margin-bottom: 10px">同步列表</el-button>
                        </div>
                        <el-row style="margin-bottom: 10px;">
                            <el-col :span="24">
                                快速添加：
                                <el-button type="success" v-for="item in itemTemplates" @click="addTo('detail', item)">{{item.label}}</el-button>
                            </el-col>
                        </el-row>
                        <el-table :data="detail.content" border stripe>
                            <el-table-column type="index" label="序列" align="center" width="80">
                            </el-table-column>
                            <el-table-column prop="label" label="字段名">
                                <template scope="scope">
                                    <el-input v-model="scope.row.label"></el-input>
                                </template>
                            </el-table-column>
                            <el-table-column prop="key" label="字段键">
                                <template scope="scope">
                                    <el-input v-model="scope.row.key"></el-input>
                                </template>
                            </el-table-column>
                            <el-table-column prop="op" label="必填">
                                <template scope="scope">
                                    <el-checkbox v-model="scope.row.isRequired"></el-checkbox>
                                </template>
                            </el-table-column>
                            <el-table-column prop="op" label="操作">
                                <template scope="scope">
                                    <el-button type="danger" size="small" @click="list.content.splice(scope.$index, 1)">删除</el-button>
                                </template>
                            </el-table-column>
                        </el-table>
                    </el-card>
                </el-tab-pane>
            </el-tabs>
            <el-form-item style="margin-top: 10px;">
                <el-button type="primary" @click="generatorDownload()">生成下载内容</el-button>
                <a :href="download[currType].vue" v-if="download[currType].vue" :download="currType + '.vue'" class="el-button el-button--primary">Vue文件<i class="el-icon-download"></i></a>
                <a :href="download[currType].js" v-if="download[currType].js" :download="currType + '.js'" class="el-button el-button--primary">JS文件<i class="el-icon-download"></i></a>
                <el-button @click="reset()">重置</el-button>
            </el-form-item>
        </el-form>
        <el-dialog title="添加搜索条件" :visible.sync="search.isDialogVisible" width="30%">
            <el-form type="inline" label-width="80px">
                <el-form-item label="搜索名">
                    <el-input v-model="search.editTemp.label"></el-input>
                </el-form-item>
                <el-form-item label="搜索键">
                    <!-- 后台定义的 -->
                    <el-input v-model="search.editTemp.key"></el-input>
                </el-form-item>
            </el-form>
            <span slot="footer" class="dialog-footer">
          <el-button @click="search.isDialogVisible = false">取 消</el-button>
          <el-button type="primary" @click="addItem('search')">确 定</el-button>
        </span>
        </el-dialog>
        <el-dialog title="添加列" :visible.sync="list.isDialogVisible" width="30%">
            <el-form type="inline" label-width="80px">
                <el-form-item label="列名">
                    <el-input v-model="list.editTemp.label"></el-input>
                </el-form-item>
                <el-form-item label="列键">
                    <!-- 后台定义的 -->
                    <el-input v-model="list.editTemp.key"></el-input>
                </el-form-item>
                <el-form-item label="自定义格式">
                    <el-checkbox v-model="list.editTemp.isCustomer"></el-checkbox>
                </el-form-item>
            </el-form>
            <span slot="footer" class="dialog-footer">
          <el-button @click="list.isDialogVisible = false">取 消</el-button>
          <el-button type="primary" @click="addItem('list')">确 定</el-button>
        </span>
        </el-dialog>
        <el-dialog title="添加详情字段" :visible.sync="detail.isDialogVisible" width="30%">
            <el-form type="inline" label-width="80px">
                <el-form-item label="字段名">
                    <el-input v-model="detail.editTemp.label"></el-input>
                </el-form-item>
                <el-form-item label="字段键">
                    <!-- 后台定义的 -->
                    <el-input v-model="detail.editTemp.key"></el-input>
                </el-form-item>
                <el-form-item label="必填">
                    <el-checkbox v-model="detail.editTemp.isRequired"></el-checkbox>
                </el-form-item>
            </el-form>
            <span slot="footer" class="dialog-footer">
          <el-button @click="detail.isDialogVisible = false">取 消</el-button>
          <el-button type="primary" @click="addItem('detail')">确 定</el-button>
        </span>
        </el-dialog>
    </div>
    <script src="https://unpkg.com/vue@2.3.3/dist/vue.js"></script>
    <script src="https://unpkg.com/element-ui@1.3.7/lib/index.js"></script>
    <script src="main.js"></script>
</body>

</html>