<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title></title>
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport">
    <link rel="stylesheet" href="https://unpkg.com/element-ui@1.3.7/lib/theme-default/index.css">
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <h1 class="title">后台管理系统前端代码生成工具</h1>
    <div id="app" v-cloak>
        <el-form ref="form" label-width="80px" :rules="rules" :model="form">
            <el-card class="box-card">
                <div slot="header" class="clearfix">
                    <span>通用设置</span>
                </div>
                <el-form-item label="页面Key" prop="pageKey">
                    <el-input v-model="form.pageKey" placeholder="用该值获得 ajax 地址"></el-input>
                    <el-checkbox v-model="form.isPageAndLimitSame">页面Key和权限Key一致</el-checkbox>
                </el-form-item>
                <el-form-item label="权限Key" v-if="!form.isPageAndLimitSame" prop="limitKey" required>
                    <el-input v-model="form.limitKey" placeholder="用该值控制数据权限"></el-input>
                </el-form-item>
            </el-card>
            <el-tabs v-model="currType" @tab-click="clearDownload()">
                <el-tab-pane label="列表页" name="list">
                    <el-form-item label="页面前缀" required prop="pagePathPrfix">
                        <el-input v-model="form.pagePathPrfix" placeholder="新增，编辑，详情页的前缀，如: music/song"></el-input>
                    </el-form-item>
                    <el-card class="box-card">
                        <div slot="header" class="clearfix">
                            <span>搜索条件</span>
                            <el-button style="float: right; padding: 3px 0" type="text" type="success" @click="addItem('search')">添加</el-button>
                        </div>
                        <el-row style="margin-bottom: 10px;">
                            <el-col :span="24">
                                快速添加：
                                <el-button type="success" v-for="item in itemTemplates" @click="addTo('search', item)" :key="item.label">{{item.label}}</el-button>
                            </el-col>
                        </el-row>
                        <el-table :data="search.content" border stripe>
                            <el-table-column type="index" label="序列" align="center" width="80">
                            </el-table-column>
                            <el-table-column prop="label" label="搜索名">
                                <template slot-scope="scope">
                                    <el-input v-model="scope.row.label"></el-input>
                                </template>
                            </el-table-column>
                            <el-table-column prop="key" label="搜索键">
                                <template slot-scope="scope">
                                    <el-input v-model="scope.row.key"></el-input>
                                </template>
                            </el-table-column>
                            <el-table-column prop="op" label="操作">
                                <template slot-scope="scope">
                                    <el-button type="primary" size="small" @click="cloneTo('list', scope.row)">复制到列表</el-button>
                                    <el-button type="danger" size="small" @click="search.content.splice(scope.$index, 1)">删除</el-button>
                                </template>
                            </el-table-column>
                        </el-table>
                    </el-card>
                    <el-card class="box-card">
                        <div slot="header" class="clearfix">
                            <span>列表内容</span>
                            <el-button style="float: right; padding: 3px 0" type="text" type="success" @click="addItem('list')">添加</el-button>
                        </div>
                        <el-row style="margin-bottom: 10px;">
                            <el-col :span="24">
                                快速添加：
                                <el-button type="success" v-for="item in itemTemplates" @click="addTo('list', item)" :key="item.label">{{item.label}}</el-button>
                            </el-col>
                        </el-row>
                        <el-table :data="list.content" border stripe>
                            <el-table-column type="index" label="序列" align="center" width="80">
                            </el-table-column>
                            <el-table-column prop="label" label="列名">
                                <template slot-scope="scope">
                                    <el-input v-model="scope.row.label"></el-input>
                                </template>
                            </el-table-column>
                            <el-table-column prop="key" label="列键">
                                <template slot-scope="scope">
                                    <el-input v-model="scope.row.key"></el-input>
                                </template>
                            </el-table-column>
                            <el-table-column prop="op" label="自定义格式">
                                <template slot-scope="scope">
                                    <el-checkbox v-model="scope.row.isCustomer"></el-checkbox>
                                </template>
                            </el-table-column>
                            <el-table-column prop="op" label="操作">
                                <template slot-scope="scope">
                                     <el-button type="primary" size="small" @click="cloneTo('search', scope.row)">复制到搜索条件</el-button>
                                    <el-button type="danger" size="small" @click="list.content.splice(scope.$index, 1)">删除</el-button>
                                </template>

                            </el-table-column>
                        </el-table>
                    </el-card>
                </el-tab-pane>
                <el-tab-pane label="新增，编辑，详情页" name="update">
                   <el-card class="box-card">
                        <div slot="header" class="clearfix">
                            <span>新增，编辑，详情内容</span>
                            <el-button style="float: right; padding: 3px 0" type="text" type="success" @click="addItem('detail')">添加</el-button>
                        </div>
                        <div class="clearfix">
                            <el-button type="primary" @click="syncList()" style="float: right;margin-bottom: 10px">同步列表</el-button>
                        </div>
                        
                        快速添加：
                        <el-button type="success" v-for="item in itemTemplates" @click="addTo('detail', item)" :key="item.label">{{item.label}}</el-button>
                        <el-table :data="detail.content" border stripe>
                            <el-table-column type="index" label="序列" align="center" width="80">
                            </el-table-column>
                            <el-table-column prop="label" label="字段名">
                                <template slot-scope="scope">
                                    <el-input v-model="scope.row.label"></el-input>
                                </template>
                            </el-table-column>
                            <el-table-column prop="key" label="字段键">
                                <template slot-scope="scope">
                                    <el-input v-model="scope.row.key"></el-input>
                                </template>
                            </el-table-column>
                            <el-table-column prop="op" label="必填">
                                <template slot-scope="scope">
                                    <el-checkbox v-model="scope.row.isRequired"></el-checkbox>
                                </template>
                            </el-table-column>
                            <el-table-column prop="op" label="操作">
                                <template slot-scope="scope">
                                    <el-button type="danger" size="small" @click="detail.content.splice(scope.$index, 1)">删除</el-button>
                                </template>
                            </el-table-column>
                        </el-table>
                    </el-card>
                </el-tab-pane>

                <el-tab-pane label="Mock数据" name="mock">
                    <el-card class="box-card">
                        <div slot="header" class="clearfix">
                            接口
                        </div>
                        <el-form-item label="标签">
                            <el-input v-model="mock.tag.name" placeholder=""></el-input>
                        </el-form-item>
                        <el-form-item label="标签描述">
                            <el-input v-model="mock.tag.description" placeholder=""></el-input>
                        </el-form-item>
                        <el-form-item label="资源 Key">
                            <el-input v-model="mock.cruds.key" placeholder=""></el-input>
                        </el-form-item>
                        <div>
                            <el-button type="primary" @click="generatorCrud">生成</el-button>
                            <h2>生成Tag内容</h2>
                            <pre>{{mock.tag.output}}</pre>

                            <h2>生成资源内容</h2>
                            <pre>{{mock.cruds.output}}</pre>
                        </div>
                    </el-card>
                </el-tab-pane>
            </el-tabs>
            <el-form-item style="margin-top: 10px;" v-if="currType === 'list' || currType === 'update'">
                <el-button type="primary" @click="removeEmptyItem()">删除空项</el-button>
                <el-button type="primary" @click="generatorDownload()">生成下载内容</el-button>
                <a :href="download[currType].vue" v-if="download[currType].vue" :download="currType + '.vue'" class="el-button el-button--primary">Vue文件<i class="el-icon-download"></i></a>
                <a :href="download[currType].js" v-if="download[currType].js" :download="currType + '.js'" class="el-button el-button--primary">JS文件<i class="el-icon-download"></i></a>
                <el-button @click="reset()">重置</el-button>
            </el-form-item>
        </el-form>
        
    </div>
    <script src="https://unpkg.com/vue@2.5.8/dist/vue.js"></script>
    <script src="https://unpkg.com/element-ui@1.3.7/lib/index.js"></script>
    <script src="main.js"></script>
</body>

</html>